:root {
  --color-background: linear-gradient(rgb(23 96 69), #1c1242);
  --color-bug: #00a388;
  --color-text: #00a388;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.gradient {
  --size: 1050px;
  --speed: 50s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
  max-height:500px;
  width: var(--size);
  height: var(--size);
  filter: blur(calc(var(--size) / 4.2));
  background-image: linear-gradient(rgba(55, 235, 169, 0.851), #5b37eb);
  animation: rotate var(--speed) var(--easing) alternate infinite;
  border-radius: 70% 70% 70% 70%/30% 30% 70% 70%;
  position: fixed;
  top: 27%;
  left: 30%;
  z-index: -1;

}

@media (min-width: 620px) {
  .gradient {
    --size: 1700px;
  }
}

.row-1 {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.row-2 {
  height: 70%;
  display: flex;
  justify-content: center;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: #1a1919;
  flex-direction: column;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.header-container {
  background-color: rgba(3, 0, 0, 0.2);
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

header h1 {
  font-size: 32px;
  color: white;
  margin: 0;
}

.buggg {
  text-align: center;
  font-size: 32px;
  color: white;
  margin: 0;
  opacity: 0;
  transition: opacity 1s ease;
}

.error-code {
  display: flex;
  grid-gap: 0vw;
  position: fixed;
  border: 0;
  background: none;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  letter-spacing: 0.1em;
  white-space: nowrap;
  padding: 140vw;
  border-radius: 1vw;
}
.error-code:after {
  content: "Looks like you found a bug.";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4vw;
  color: var(--color-text);
  opacity: 0;
  transition: opacity 4s ease;
}
.error-code.active:after {
  opacity: 0;
}

.error-code.active .cell.filled:nth-child(1) {
  transform: rotate(15deg);
}
.error-code.active .cell.filled:nth-child(2) {
  transform: rotate(30deg);
}
.error-code.active .cell.filled:nth-child(3) {
  transform: rotate(45deg);
}
.error-code.active .cell.filled:nth-child(4) {
  transform: rotate(60deg);
}
.error-code.active .cell.filled:nth-child(5) {
  transform: rotate(75deg);
}
.error-code.active .cell.filled:nth-child(6) {
  transform: rotate(90deg);
}
.error-code.active .cell.filled:nth-child(7) {
  transform: rotate(105deg);
}
.error-code.active .cell.filled:nth-child(8) {
  transform: rotate(120deg);
}
.error-code.active .cell.filled:nth-child(9) {
  transform: rotate(135deg);
}
.error-code.active .cell.filled:nth-child(10) {
  transform: rotate(150deg);
}
.error-code.active .cell.filled:nth-child(11) {
  transform: rotate(165deg);
}
.error-code.active .cell.filled:nth-child(12) {
  transform: rotate(180deg);
}
.error-code.active .cell.filled:nth-child(13) {
  transform: rotate(195deg);
}
.error-code.active .cell.filled:nth-child(14) {
  transform: rotate(210deg);
}
.error-code.active .cell.filled:nth-child(15) {
  transform: rotate(225deg);
}
.error-code.active .cell.filled:nth-child(16) {
  transform: rotate(240deg);
}
.error-code.active .cell.filled:nth-child(17) {
  transform: rotate(255deg);
}
.error-code.active .cell.filled:nth-child(18) {
  transform: rotate(270deg);
}
.error-code.active .cell.filled:nth-child(19) {
  transform: rotate(285deg);
}
.error-code.active .cell.filled:nth-child(20) {
  transform: rotate(300deg);
}
.error-code.active .cell.filled:nth-child(21) {
  transform: rotate(315deg);
}
.error-code.active .cell.filled:nth-child(22) {
  transform: rotate(330deg);
}
.error-code.active .cell.filled:nth-child(23) {
  transform: rotate(345deg);
}
.error-code.active .cell.filled:nth-child(24) {
  transform: rotate(360deg);
}
.error-code.active .number {
  grid-gap: 2vw;
}
.error-code.active .bug {
  transform: translateY(-200vh);
  transition-delay: 500ms;
}
.error-code.active .bug:before {
  top: -0.5vw;
}
.error-code.active .bug:after {
  left: -0.75vw;
  right: -0.75vw;
  height: 1.5vw;
}

.number {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  transition: all 500ms ease;
  grid-gap: 0.25vw;
  margin: auto 2vw;
  margin-top: -15%;
}

.cell.filled {
  transition: all 500ms ease;
}

.bug {
  background: var(--color-bug);
  transition: transform 4000ms ease;
  width: 1.25vw;
  height: 1.5vw;
  position: relative;
  border-radius: 100%;
  transition-delay: 10ms;
}
.bug:before {
  content: "";
  height: 0.5vw;
  width: 0.5vw;
  display: block;
  position: absolute;
  top: 0;
  left: 0.375vw;
  background: var(--color-bug);
  border-radius: 100%;
  z-index: -1;
  transition: all 1000ms ease;
}
.bug:after {
  content: "";
  display: block;
  position: absolute;
  left: 0.5vw;
  right: 0.5vw;
  bottom: 0.5vw;
  height: 0;
  transition: all 250ms ease;
  animation: infinite skitter 100ms ease;
  background: top left/100% 100%
      linear-gradient(
        transparent,
        transparent 45%,
        var(--color-bug) 45%,
        var(--color-bug) 55%,
        transparent 55%
      ),
    top left/100% 100%
      linear-gradient(
        to bottom right,
        transparent,
        transparent 45%,
        var(--color-bug) 45%,
        var(--color-bug) 55%,
        transparent 55%
      ),
    top left/100% 100%
      linear-gradient(
        to bottom left,
        transparent,
        transparent 45%,
        var(--color-bug) 45%,
        var(--color-bug) 55%,
        transparent 55%
      );
}

@keyframes skitter {
  0%,
  100% {
    transform: rotate(-35deg);
  }
  50% {
    transform: rotate(35deg);
  }
}
*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 12px;
}

body,
button,
input {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
  width: 70%;
  height: 80%;
}

.screen:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
  grid-gap: 3vw;
}

.screen-body-item {
  padding: 25px;
  width: 100%;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ea1d6f;
  font-size: 26px;
}

.app-title:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #ea1d6f;
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #ea1d6f;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #b9134f;
}

.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}
